<h1>My Projects</h1>

<p>Você esqueceu sua senha? Não tem problema acesse o seguinte link:</p>

<p>
    <a href="{{appClientURL}}/reset-password/{{ token }}">
        {{appClientURL}}/reset-password/{{token}}
    </a>
</p>
